# Python virtual environment
myenv/
venv/
env/

# Python cache
__pycache__/
*.pyc

# Node dependencies
Frontend/node_modules/

# Temporary files
Frontend/temp/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables / secrets
.env

# Build files
judge0/
dist/
build/